<div>
    <%= render 'posts/form'%>
    <% unless @posts == nil %>
        <% @posts.each do |post| %>
            <%= post.user.username %>
            <strong><%= post.title %><br></strong>
            <small><%= post.body %><br></small>
        <% end %>
    <% end %>
</div>