<div>
<% unless @posts == nil %>
    <% @posts.each do |post| %>
        <%= post.user.username%>
        <strong><%= post.title %><br></strong>
        <%= post.body %><br>
    <% end %>
<% end %>
</div>