<div>
    <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %><br>
    <% @posts.each do | post | %>
        <%= post.user.username %><br>
        <strong><%= post.title %><br></strong>
        <small><%= post.body %><br></small>
        <br>
    <% end %>
</div>